{% extends 'langbuddy_main.html' %}

{% block title %}
Repeat
{% endblock title %}


{% block content_start_audio %}


<b>Powtórz tłumaczenie zdania:</b>
<span id="zdanie"></span>
<audio id="audioPlayer" controls></audio>
<script>
    async function fetchAudio() {
        try {
            let response = await fetch("http://127.0.0.1:8000/api/learning/repeat/", {
                method: "GET"
            });

            let data = await response.json();
            if (data && data.sentence) {
            let sentenceContent = document.getElementById("zdanie");
            sentenceContent.textContent = data.sentence.content || "Brak zdania do tłumaczenia";
            
            window.currentSentenceId = data.sentence.id;
            window.currentMode = data.mode;
            }

            if (data.audio_url) {
                let audioPlayer = document.getElementById("audioPlayer");
                audioPlayer.src = data.audio_url;
                audioPlayer.play();  // Automatyczne odtworzenie
            }
        } catch (error) {
            console.error("Błąd podczas pobierania pliku audio:", error);
        }
    }

    fetchAudio(); // Wywołanie funkcji
</script>



{% endblock content_start_audio %}