<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <title>Langbuddy – Menu główne</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body>
    <div class="container">
        <h1 class="main-title">
            <div class="logo-title-wrapper">
              <img src="{% static 'media/main.png' %}" alt="Ikona Langbuddy" class="logo-image" />
         
              <span class="title-text">
                <div style="font-size: 35px;">LangBuddy</div>
                <hr>płynna mowa w języku obcym</span>
            </div>
        </h1>

        <div class="nav-buttons">
   
            <a href="/repeat-view/" class="btn nav-btn gray">🔁 Powtarzanie</a>
            <a href="/translate-view/" class="btn nav-btn gray">🌍 Tłumaczenie</a>
            <a href="/choose-categories-view/" class="btn nav-btn gray">📚 Wybór kategorii</a>
            <a href="/conversation/" class="btn nav-btn green">🗣️ Jesteś kozak? ChatGPT czeka!</a>
            <a href="/progress-view/" class="btn nav-btn orange">📈 Twój progres</a>
        </div>
    </div>
</body>
</html>