<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Element audio do odtwarzania pliku MP3 -->
    <audio id="audioPlayer" controls></audio>
    {% block content %}
    {% endblock content %}
    <script>
        async function fetchAudio() {
            try {
                let response = await fetch("http://127.0.0.1:8000/repeat/", {
                    method: "GET"
                });
    
                let data = await response.json();
                console.log(data);
    
                if (data.audio_url) {
                    let audioPlayer = document.getElementById("audioPlayer");
                    audioPlayer.src = data.audio_url;
                    audioPlayer.play();  // Automatyczne odtworzenie
                }
            } catch (error) {
                console.error("Błąd podczas pobierania pliku audio:", error);
            }
        }
    
        fetchAudio(); // Wywołanie funkcji
    </script>
</body>
</html>